<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="k8s">
        <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <loggerName/>
                    <threadName/>
                    <message/>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>8192</maxLength>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                    <mdc/> >
                    <context/>
                    <logstashMarkers/>
                    <arguments/>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="consoleAppender" />
        </root>
    </springProfile>

    <springProfile name="!k8s">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>
</configuration>